USE [p2g1]
GO
/****** Object:  Table [dbo].[SGA_ATENDIMENTO]    Script Date: 2025-12-21 23:49:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SGA_ATENDIMENTO](
	[num_atendimento] [int] IDENTITY(1,1) NOT NULL,
	[data_inicio] [datetime2](7) NOT NULL,
	[data_fim] [datetime2](7) NOT NULL,
	[estado] [varchar](20) NULL,
	[id_sala] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[num_atendimento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SGA_CONTRATADO]    Script Date: 2025-12-21 23:49:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SGA_CONTRATADO](
	[id_trabalhador] [int] NOT NULL,
	[contrato_trabalho] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_trabalhador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SGA_PACIENTE]    Script Date: 2025-12-21 23:49:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SGA_PACIENTE](
	[id_paciente] [int] IDENTITY(1,1) NOT NULL,
	[NIF] [char](9) NOT NULL,
	[data_inscricao] [date] NOT NULL,
	[observacoes] [varchar](250) NULL,
	[ativo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_paciente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[NIF] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SGA_PACIENTE_ATENDIMENTO]    Script Date: 2025-12-21 23:49:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SGA_PACIENTE_ATENDIMENTO](
	[id_paciente] [int] NOT NULL,
	[num_atendimento] [int] NOT NULL,
	[observacoes] [varchar](250) NULL,
	[presenca] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_paciente] ASC,
	[num_atendimento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SGA_PESSOA]    Script Date: 2025-12-21 23:49:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SGA_PESSOA](
	[NIF] [char](9) NOT NULL,
	[nome] [varchar](50) NOT NULL,
	[data_nascimento] [date] NOT NULL,
	[telefone] [char](9) NOT NULL,
	[email] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[NIF] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SGA_PRESTADOR_SERVICO]    Script Date: 2025-12-21 23:49:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SGA_PRESTADOR_SERVICO](
	[id_trabalhador] [int] NOT NULL,
	[ordem] [varchar](50) NULL,
	[remuneracao] [numeric](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_trabalhador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SGA_RELATORIO]    Script Date: 2025-12-21 23:49:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SGA_RELATORIO](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_paciente] [int] NOT NULL,
	[id_autor] [int] NOT NULL,
	[tipo_relatorio] [varchar](50) NULL,
	[data_criacao] [datetime2](7) NULL,
	[conteudo] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SGA_SALA]    Script Date: 2025-12-21 23:49:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SGA_SALA](
	[id_sala] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](50) NOT NULL,
	[is_online] [bit] NULL,
	[ativa] [bit] NULL,
	[id_dono] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_sala] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SGA_TRABALHADOR]    Script Date: 2025-12-21 23:49:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SGA_TRABALHADOR](
	[id_trabalhador] [int] IDENTITY(1,1) NOT NULL,
	[NIF] [char](9) NOT NULL,
	[senha_hash] [varchar](255) NOT NULL,
	[tipo_perfil] [varchar](20) NOT NULL,
	[cedula_profissional] [char](5) NULL,
	[ativo] [bit] NULL,
	[data_inicio] [date] NULL,
	[data_fim] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_trabalhador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[NIF] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SGA_TRABALHADOR_ATENDIMENTO]    Script Date: 2025-12-21 23:49:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SGA_TRABALHADOR_ATENDIMENTO](
	[id_trabalhador] [int] NOT NULL,
	[num_atendimento] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_trabalhador] ASC,
	[num_atendimento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SGA_VINCULO_CLINICO]    Script Date: 2025-12-21 23:49:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SGA_VINCULO_CLINICO](
	[NIF_trabalhador] [char](9) NOT NULL,
	[NIF_paciente] [char](9) NOT NULL,
	[tipo_vinculo] [varchar](50) NULL,
	[data_inicio] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[NIF_trabalhador] ASC,
	[NIF_paciente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SGA_PACIENTE] ADD  DEFAULT (getdate()) FOR [data_inscricao]
GO
ALTER TABLE [dbo].[SGA_PACIENTE] ADD  DEFAULT ((1)) FOR [ativo]
GO
ALTER TABLE [dbo].[SGA_PACIENTE_ATENDIMENTO] ADD  DEFAULT ((0)) FOR [presenca]
GO
ALTER TABLE [dbo].[SGA_RELATORIO] ADD  DEFAULT ('Consulta') FOR [tipo_relatorio]
GO
ALTER TABLE [dbo].[SGA_RELATORIO] ADD  DEFAULT (getdate()) FOR [data_criacao]
GO
ALTER TABLE [dbo].[SGA_SALA] ADD  DEFAULT ((0)) FOR [is_online]
GO
ALTER TABLE [dbo].[SGA_SALA] ADD  DEFAULT ((1)) FOR [ativa]
GO
ALTER TABLE [dbo].[SGA_TRABALHADOR] ADD  DEFAULT ((1)) FOR [ativo]
GO
ALTER TABLE [dbo].[SGA_VINCULO_CLINICO] ADD  DEFAULT ('Acompanhamento') FOR [tipo_vinculo]
GO
ALTER TABLE [dbo].[SGA_VINCULO_CLINICO] ADD  DEFAULT (getdate()) FOR [data_inicio]
GO
ALTER TABLE [dbo].[SGA_ATENDIMENTO]  WITH CHECK ADD  CONSTRAINT [FK_Atendimento_Sala] FOREIGN KEY([id_sala])
REFERENCES [dbo].[SGA_SALA] ([id_sala])
GO
ALTER TABLE [dbo].[SGA_ATENDIMENTO] CHECK CONSTRAINT [FK_Atendimento_Sala]
GO
ALTER TABLE [dbo].[SGA_CONTRATADO]  WITH CHECK ADD FOREIGN KEY([id_trabalhador])
REFERENCES [dbo].[SGA_TRABALHADOR] ([id_trabalhador])
GO
ALTER TABLE [dbo].[SGA_PACIENTE]  WITH CHECK ADD FOREIGN KEY([NIF])
REFERENCES [dbo].[SGA_PESSOA] ([NIF])
GO
ALTER TABLE [dbo].[SGA_PACIENTE_ATENDIMENTO]  WITH CHECK ADD FOREIGN KEY([id_paciente])
REFERENCES [dbo].[SGA_PACIENTE] ([id_paciente])
GO
ALTER TABLE [dbo].[SGA_PACIENTE_ATENDIMENTO]  WITH CHECK ADD FOREIGN KEY([num_atendimento])
REFERENCES [dbo].[SGA_ATENDIMENTO] ([num_atendimento])
GO
ALTER TABLE [dbo].[SGA_PRESTADOR_SERVICO]  WITH CHECK ADD FOREIGN KEY([id_trabalhador])
REFERENCES [dbo].[SGA_TRABALHADOR] ([id_trabalhador])
GO
ALTER TABLE [dbo].[SGA_RELATORIO]  WITH CHECK ADD FOREIGN KEY([id_autor])
REFERENCES [dbo].[SGA_TRABALHADOR] ([id_trabalhador])
GO
ALTER TABLE [dbo].[SGA_RELATORIO]  WITH CHECK ADD FOREIGN KEY([id_paciente])
REFERENCES [dbo].[SGA_PACIENTE] ([id_paciente])
GO
ALTER TABLE [dbo].[SGA_SALA]  WITH CHECK ADD  CONSTRAINT [FK_Sala_Dono] FOREIGN KEY([id_dono])
REFERENCES [dbo].[SGA_TRABALHADOR] ([id_trabalhador])
GO
ALTER TABLE [dbo].[SGA_SALA] CHECK CONSTRAINT [FK_Sala_Dono]
GO
ALTER TABLE [dbo].[SGA_TRABALHADOR]  WITH CHECK ADD FOREIGN KEY([NIF])
REFERENCES [dbo].[SGA_PESSOA] ([NIF])
GO
ALTER TABLE [dbo].[SGA_TRABALHADOR_ATENDIMENTO]  WITH CHECK ADD FOREIGN KEY([id_trabalhador])
REFERENCES [dbo].[SGA_TRABALHADOR] ([id_trabalhador])
GO
ALTER TABLE [dbo].[SGA_TRABALHADOR_ATENDIMENTO]  WITH CHECK ADD FOREIGN KEY([num_atendimento])
REFERENCES [dbo].[SGA_ATENDIMENTO] ([num_atendimento])
GO
ALTER TABLE [dbo].[SGA_VINCULO_CLINICO]  WITH CHECK ADD FOREIGN KEY([NIF_paciente])
REFERENCES [dbo].[SGA_PACIENTE] ([NIF])
GO
ALTER TABLE [dbo].[SGA_VINCULO_CLINICO]  WITH CHECK ADD FOREIGN KEY([NIF_trabalhador])
REFERENCES [dbo].[SGA_TRABALHADOR] ([NIF])
GO
ALTER TABLE [dbo].[SGA_ATENDIMENTO]  WITH CHECK ADD CHECK  (([estado]='falta' OR [estado]='finalizado' OR [estado]='agendado' OR [estado]='a decorrer' OR [estado]='cancelado'))
GO
ALTER TABLE [dbo].[SGA_ATENDIMENTO]  WITH CHECK ADD CHECK  (([data_fim]>[data_inicio]))
GO
ALTER TABLE [dbo].[SGA_TRABALHADOR]  WITH CHECK ADD CHECK  (([tipo_perfil]='colaborador' OR [tipo_perfil]='admin'))
GO
